*{
    font-family: FaktCondensed, AvenirNextCondensed-Medium, Segoe UI, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
ul.navbar-nav {
    width: 100%;
    justify-content: space-between;
  }
  
.staticsbtn button{
 background-color: rgb(225, 171, 217);
 border-radius: 10px ;
 cursor: pointer;
 
}  
.staticsbtn :hover{
  background-color: seagreen;
}